* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
}

:root {
    --back-azul-claro: #BCD6F1;
    --azul: #1689FC;
    --rosa: #FE52A2;
    --cinza: #dfdfdff8;
    --cinza-letras: #3e3e3e;
    --back-cinza: #dfdfdfa7;
    --detalhes-rosa: #fe52a2d6;
}

header h1 {
    /* transformando letras em gradiente */
    background: -webkit-linear-gradient(0deg, #BCD6F1, #1689FC, #FE52A2, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 20px;
    text-shadow: 3px 3px 8px #00000047; 
}

main {
    background-color: var(--back-azul-claro);
    padding: 30px;
    height: 100%;
}

#tela {
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
    max-width: 145px;
    background-color: #fff;
    border-radius: 5px;
    text-align: right;
    font-size: 20px;
    color: var(--cinza-letras);
    height: 18px;
}

#corpo {
    background-color: var(--azul);
    /* min-width: 30%; */
    max-width: 200px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.387);
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20%;
}

button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    background-color: var(--cinza);
    color: var(--cinza-letras);
}

button:hover {
    background-color: var(--back-cinza);
}

.especial:hover {
    background-color: var( --detalhes-rosa);
}

.especial {
    background-color: var(--rosa);   
    color: #fff; 
}

#resultado {
    width: 80px;
}

#ac {
    width: 125px;
}

.btn_num {
    width: 40px;
}